@import "tailwindcss";

.custom-header {
  font-weight: bold;
  font-size: 15px;
  background-color: white !important;
}

.resource-css {
  font-weight: bold;
  background-color: white !important;
}

.scheduler_default_corner {
  background-color: white !important;
}
