@import "tailwindcss";

.scheduler_default_corner > div:nth-child(2) {
  display: none !important; /* ẩn cả box DEMO */
}

.custom-header {
  font-weight: bold;
  font-size: 15px;
  background-color: white !important;
}

.resource-css {
  font-weight: bold;
  background-color: white !important;
}

.scheduler_default_corner {
  background-color: white !important;
}

.scheduler_default_event_group > div:nth-child(1) {
  width: 100% !important;
}

.scheduler_default_event_float_inner {
  width: 100% !important;
}

.cashier-page-section .ant-tabs-content-holder {
  overflow-y: scroll !important;
  border-bottom: 1px solid #f0f0f0 !important;
  border-bottom-left-radius: 8px !important;
}

.cashier-page-section .cashier-page-section-right .card-section {
  overflow-y: scroll !important;
  border: 1px solid #f0f0f0 !important;
  border-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
}

.cashier-page-section .cashier-page-section-right .card-section-content {
  padding: 16px !important;
}

.cashier-page-section .cashier-page-section-right .card-section-top-fixed {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  padding: 16px;
}

.cashier-page-section .cashier-page-section-right .card-section-bottom-fixed {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  padding: 16px;
}
